<main class="p-5">
    <h2 class="text-2xl font-bold my-3 main-color-text">بيانات شخصية</h2>
    <section class="border my-3 border-gray-300 p-5 rounded-lg flex  justify-start items-center gap-5">
        <img src="../../assets/bohemian-man-with-his-arms-crossed.jpg" class="w-40 rounded-lg" alt="">
        <div>
            <h3 class="text-xl font-bold">احمد محمد</h3>
            <p class="my-2 text-black text-opacity-50">ahmedmohammed&#64;gmail.com</p>
            <p class="my-2 text-black text-opacity-40">دكتور</p>
        </div>
    </section>
    <section class="border border-gray-300 p-5 rounded-lg">
        <p class="text-lg font-semibold text-black text-opacity-80"><span class="font-bold mx-3 main-color-text">التخصص:</span>علوم حاسب</p>
        <p class="text-lg font-semibold text-black text-opacity-80"><span class="font-bold mx-3 main-color-text">الكود:</span>154dsf</p>
        <p class="text-lg font-semibold text-black text-opacity-80"><span class="font-bold mx-3 main-color-text">الرقم القومي:</span>303092416459943</p>
    </section>
</main>