<main class="p-5">
    <h2 class="text-2xl  font-bold main-color-text ">الطلاب المسجلين</h2>
    <section class="my-5">
        <table class="border-2 w-full border-gray-300">
            <thead class="border-b-2 border-gray-300">
                <th class="font-bold text-xl">اسم الطالب</th>
                <th class="font-bold text-xl">كود الطالب</th>
                <th class="font-bold text-xl">رقم الطالب</th>
                <th class="font-bold text-xl">الفرقة</th>
                <th class="font-bold text-xl">تعيين درجات</th>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let course of courses">
                    <td class="font-semibold text-lg">{{course.name}}</td>
                    <td class="font-semibold text-lg">{{course.registeredStudentsCount}}</td>
                </tr> -->
                <tr class="border-b-2 border-gray-300">
                    <td class="font-semibold text-center text-lg">ادهم جمال عبد الناصر</td>
                    <td class="font-semibold text-center text-lg">654e2</td>
                    <td class="font-semibold text-center text-lg">01207892070</td>
                    <td class="font-semibold text-center text-lg">الرابعة</td>
                    <td class="font-semibold text-center text-lg p-3"><button class="text-white main-color-bg shadow-lg rounded-lg py-2 px-4">تعيين</button></td>
                </tr>
                <tr class="border-b-2 border-gray-300">
                    <td class="font-semibold text-center text-lg">ادهم جمال عبد الناصر</td>
                    <td class="font-semibold text-center text-lg">654e2</td>
                    <td class="font-semibold text-center text-lg">01207892070</td>
                    <td class="font-semibold text-center text-lg">الرابعة</td>
                    <td class="font-semibold text-center text-lg p-3"><button class="text-white main-color-bg shadow-lg rounded-lg py-2 px-4">تعيين</button></td>
                </tr>
                <tr class="border-b-2 border-gray-300">
                    <td class="font-semibold text-center text-lg">ادهم جمال عبد الناصر</td>
                    <td class="font-semibold text-center text-lg">654e2</td>
                    <td class="font-semibold text-center text-lg">01207892070</td>
                    <td class="font-semibold text-center text-lg">الرابعة</td>
                    <td class="font-semibold text-center text-lg p-3"><button class="text-white main-color-bg shadow-lg rounded-lg py-2 px-4">تعيين</button></td>
                </tr>
                
            </tbody>
        </table>
    </section>
</main>