<aside class="main-color-bg-opacity-90 min-h-screen text-white px-10 py-5 rounded-e-xl flex flex-col justify-between">
    <div class="flex justify-between items-center w-full">
        <img src="../../assets/logo iso.png" class="w-10" alt="">
        <h2 class="font-bold">كلية الحاسبات و المعلومات</h2>
    </div>
    <ul>
        <li><a href="#" class="hover:bg-black hover:bg-opacity-25 transition-all duration-300 p-3 my-2 rounded-e-full block w-full" >المقررات</a></li> 
        <li><a href="#" class="hover:bg-black hover:bg-opacity-25 transition-all duration-300 p-3 my-2 rounded-e-full block w-full" >المقررات</a></li>
        <li><a href="#" class="hover:bg-black hover:bg-opacity-25 transition-all duration-300 p-3 my-2 rounded-e-full block w-full" >المقررات</a></li>               
    </ul>
    <button class="bg-transparent border-white hover:bg-white hover:text-blue-950 font-bold transition-all duration-300 border-2 py-2 rounded-md">تسجيل الخروج</button>
</aside>   