<section class="flex min-h-screen w-full">
    <div class="right bg-opacity-50 flex justify-center items-center w-1/2">
        <div class="layer w-full p-5">
            <div class="my-4">
                <input class="w-full focus:shadow-md focus:shadow-blue-500 p-2 rounded-md" placeholder="اسم المستخدم..." type="text" name="" id="" />
            </div>
            <div class="my-4">
                <input class="w-full focus:shadow-md focus:shadow-blue-500 p-2 rounded-md" placeholder="كلمة المرور..." type="password" name="" id="" />
            </div>
            <div class="mt-5 mb-3">
                <button class="w-full main-light-bg text-white p-2 rounded-md">تسجيل الدخول</button>
            </div>
            <a class="text-white block" href="#">ليس لديك حساب؟</a>
            <a class="text-white block" href="#" >نسيت كلمة المرور؟</a>
        </div>
    </div>
    <div class="left w-1/2 flex gap-2 items-center">
        <img class="w-80" src="../../../assets/damn iso.png" alt="">
        <h2 class="text-3xl font-bold text-white">جامعة دمنهور </h2>
    </div>
</section>